<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vt.cms.model.repository.OrderRepository">
    <resultMap id="OrderResultMap" type="com.vt.cms.model.entity.Order">
        <id column="id" property="id" jdbcType="OTHER"/>
        <result column="total" property="total" jdbcType="OTHER"/>
        <result column="status" property="status" jdbcType="OTHER"/>
        <result column="deliveredAt" property="deliveredAt" jdbcType="OTHER"/>
        <result column="cancelAt" property="cancelAt" jdbcType="OTHER"/>
    </resultMap>

    <insert id="insertorder" parameterType="com.vt.cms.model.entity.Order"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO orders (total, status)
        VALUES (#{total}, #{status})
    </insert>

    <select id="getdetailById">
        SELECT *
        from orders
        where id = (#{id})
    </select>

    <update id="save">
        UPDATE orders
        SET status      = #{status},
            deliveredAt = #{deliveredAt}
        WHERE id = #{id}
    </update>
    <update id="cancelOrder">
        UPDATE orders
        SET status   = #{status},
            cancelAt = #{cancelAt}
        WHERE id = #{id}
    </update>
</mapper>