<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vt.cms.model.repository.OrderRepository">
    <resultMap id="OrderResultMap" type="com.vt.cms.model.entity.Order">
        <id column="id" property="id" jdbcType="OTHER"/>
        <result column="total" property="total" jdbcType="OTHER"/>
        <result column="order_status" property="order_status" jdbcType="OTHER"/>
        <result column="sub_order_status" property="sub_order_status" jdbcType="OTHER"/>

        <result column="deliveredAt" property="deliveredAt" jdbcType="OTHER"/>
        <result column="cancel_at" property="cancel_at" jdbcType="OTHER"/>
        <result column="notecancel" property="notecancel" jdbcType="OTHER"/>
        <result column="created_by" property="created_by" jdbcType="OTHER"/>
        <result column="created_at" property="createdAt" jdbcType="OTHER"/>
        <result column="expected_delivery" property="expectedDelivery" jdbcType="OTHER"/>


    </resultMap>

    <insert id="insertorder" parameterType="com.vt.cms.model.entity.Order"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO orders (total, order_status, created_at, 	expected_delivery,	created_by)
        VALUES (#{total}, #{order_status}, #{createdAt}, #{expectedDelivery}, #{created_by})
    </insert>

    <select id="getdetailById"
            resultMap="OrderResultMap">
        SELECT orders.id,
               orders.status,
               order_item.product_id
        from orders
                 INNER JOIN order_item
                            ON orders.id = order_item.order_id
        where orders.id = (#{id})
    </select>

    <select id="countorder" resultType="long">
        SELECT COUNT(orders.id)
        FROM `orders`
        WHERE 1
    </select>

    <update id="save">
        UPDATE orders
        SET order_status = #{order_status},
            updated_at = #{updatedAt},
            updated_by = #{updated_by}
        WHERE id = #{id}
    </update>
    <update id="cancelOrder">
        UPDATE orders
        SET order_status = #{order_status},
            notecancel = #{notecancel},
            cancel_at  = #{cancel_at},
            updated_at = #{updatedAt},
            canceled_by = #{canceled_by}
        WHERE id = #{id}
    </update>
    <select id="getOrderItemsByOrderId"
            parameterType="long"
            resultType="com.vt.cms.model.dto.order.Itemorderdetail">
        SELECT
            p.id as productId,
            p.name as productName,
            oi.price,
            s.sku_code AS skuCode,
            s.id AS skuId,
            p.json_images as jsonImages,
            cp.price as priceCampaign,
            cp.price_discount as priceDiscountCampaign,
            oi.quantity
        FROM order_item oi
                 JOIN products p ON p.id = oi.product_id
                 LEFT JOIN product_sku s ON s.id = oi.sku_id
                 LEFT JOIN campain_product cp ON cp.product_id = oi.product_id AND cp.sku_id = oi.sku_id
        WHERE oi.order_id = #{orderId}
    </select>

    <select id="getorderbyid" resultType="com.vt.cms.model.resp.OrderResponse">
        SELECT
            id AS orderId,
            order_status AS order_status,
            created_at AS order_date,
            total AS total,
            expected_delivery AS expected_delivery,
            created_by AS createdBy
        FROM orders
        WHERE id = #{orderId}
    </select>

    <select id="getorderbyId" resultType="com.vt.cms.model.entity.Order">
        SELECT *
        FROM orders
        WHERE id = #{orderId}
    </select>
    <!-- Query 2: Items -->
    <select id="getItemsByOrderId" resultType="com.vt.cms.model.resp.OrderItemResponse">
        SELECT oi.product_id as productId,
               p.name        as productName,
               oi.price      as price,
               oi.quantity

        FROM order_item oi
                 LEFT JOIN products p ON oi.product_id = p.id
        WHERE oi.order_id = #{orderId}
    </select>


    <select id="getOrder" resultType="com.vt.cms.model.resp.OrderResponse">
#         SELECT id               as order_Id,
#                total            as total,
#                created_at       as ordercreated,
#                order_status           as   order_status
#         FROM orders

SELECT
    p.id as productId,
    p.name as productName,
    oi.price,
    s.sku_code AS skuCode,
    s.id AS skuId,
    p.json_images as jsonImages,
    cp.price as priceCampaign,
    cp.price_discount as priceDiscountCampaign,
    oi.quantity
FROM order_item oi
         JOIN products p ON p.id = oi.product_id
         LEFT JOIN product_sku s ON s.id = oi.sku_id
         LEFT JOIN campain_product cp ON cp.product_id = oi.product_id AND cp.sku_id = oi.sku_id
        LIMIT #{pageSize}
        OFFSET #{offset}
    </select>
</mapper>