<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vt.cms.model.repository.OrderRepository">
    <resultMap id="OrderResultMap" type="com.vt.cms.model.entity.Order">
        <id column="id" property="id" jdbcType="OTHER"/>
        <result column="total" property="total" jdbcType="OTHER"/>
        <result column="status" property="status" jdbcType="OTHER"/>
        <result column="deliveredAt" property="deliveredAt" jdbcType="OTHER"/>
        <result column="cancelAt" property="cancelAt" jdbcType="OTHER"/>
        <result column="notecancel" property="notecancel" jdbcType="OTHER"/>
        <result column="created_at" property="createdAt" jdbcType="OTHER"/>
        <result column="expected_delivery" property="expectedDelivery" jdbcType="OTHER"/>


    </resultMap>

    <insert id="insertorder" parameterType="com.vt.cms.model.entity.Order"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO orders (total, status, created_at, expected_delivery)
        VALUES (#{total}, #{status}, #{createdAt}, #{expectedDelivery})
    </insert>

    <select id="getdetailById"
            resultMap="OrderResultMap">
        SELECT orders.id,
               orders.status,
               order_item.product_id
        from orders
                 INNER JOIN order_item
                            ON orders.id = order_item.order_id
        where orders.id = (#{id})
    </select>

    <select id="countorder" resultType="long">
        SELECT COUNT(orders.id)
        FROM `orders`
        WHERE 1
    </select>

    <update id="save">
        UPDATE orders
        SET status      = #{status},
            deliveredAt = #{deliveredAt}
        WHERE id = #{id}
    </update>
    <update id="cancelOrder">
        UPDATE orders
        SET status     = #{status},
            notecancel = #{ notecancel},
            cancelAt   = #{cancelAt}
        WHERE id = #{id}
    </update>

    <select id="getorderbyid" resultType="com.vt.cms.model.resp.OrderResponse">
        SELECT id               as orderid,
               status           as orderStatus,
               total            as total,
               created_at       as ordercreated,
               expecteddelivery as expecteddelivery
        FROM orders
        WHERE id = #{orderId}
    </select>

    <!-- Query 2: Items -->
    <select id="getItemsByOrderId" resultType="com.vt.cms.model.resp.OrderItemResponse">
        SELECT oi.product_id as productId,
               p.name        as productName,
               oi.price      as price,
               oi.quantity

        FROM order_item oi
                 LEFT JOIN product p ON oi.product_id = p.id
        WHERE oi.order_id = #{orderId}
    </select>


    <select id="getOrder" resultType="com.vt.cms.model.resp.OrderResponse">
        SELECT id               as order_Id,
               total            as total,
               created_at       as ordercreated,
               status           as orderStatus,
               expecteddelivery as expecteddelivery
        FROM orders LIMIT #{pageSize}
        OFFSET #{offset}
    </select>
</mapper>