<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vt.cms.model.repository.OrderStatusHistoryRepository">
    <resultMap id="OrderResultMap1" type="com.vt.cms.model.entity.Order">
        <id column="id" property="id" jdbcType="OTHER"/>
        <result column="order_id" property="orderId" jdbcType="OTHER"/>
        <result column="status" property="status" jdbcType="OTHER"/>

    </resultMap>
    <insert id="insertorderByStatus" parameterType="com.vt.cms.model.entity.OrderstatusHistory"
    >
        INSERT INTO order_history (order_id, status)
        VALUES (#{orderId}, #{status})
    </insert>
</mapper>
