<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vt.cms.model.repository.ProductRepository">
    <resultMap id="ProductResultMap" type="com.vt.cms.model.entity.Product">
        <id column="id" property="id" jdbcType="OTHER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="OTHER"/>
        <result column="stock" property="stock" jdbcType="OTHER"/>
        <result column="description" property="description" jdbcType="OTHER"/>
        <result column="image" property="image" jdbcType="OTHER"/>
        <result column="status" property="status" jdbcType="OTHER"/>
        <result column="created_at" property="createdAt" jdbcType="OTHER"/>
    </resultMap>

    <select id="detailProduct">
        SELECT *
        FROM product
        where id = #{id}
    </select>

    <select id="listproduct" resultMap="ProductResultMap">
        SELECT *
        FROM product LIMIT #{pageSize}
        OFFSET #{offset}
    </select>
    <select id="countproduct">
        SELECT COUNT(id)
        FROM product
    </select>
    <insert id="insertproduct" parameterType="com.vt.cms.model.entity.Product"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO product (name, price, stock, description, image, created_at, status)
        VALUES (#{name}, #{price}, #{stock}, #{description}, #{image}, #{createdAt}, #{status})
    </insert>
</mapper>