<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vt.cms.model.repository.ProductRepository">
    <resultMap id="ProductResultMap" type="com.vt.cms.model.entity.Product">
        <id column="id" property="id" jdbcType="OTHER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="OTHER"/>
        <result column="stock" property="stock" jdbcType="OTHER"/>
    </resultMap>


    <select id="detailProduct" resultMap="ProductResultMap">
        SELECT *
        FROM product
        where id = #{id}
    </select>

    <select id="listproduct" resultMap="ProductResultMap">
        SELECT *
        FROM product
    </select>
</mapper>